.box {
	margin: 20px
}

.card {
	margin: 12px;
	padding: 22px;
	border: 1px solid rgb(228, 228, 228);
	background-color: snow;
	border-radius: 12px;
}

dd {
	margin: 12px 8px;
	font-size: smaller;
}

dd::before {
	content: '• ';
	color: red
}